[Unit] 
Description=Gentoo cache regen for repository %i
Requires=emerge-sync@%i.service
After=emerge-sync@%i.service

[Service]
Type=simple
User=root
ExecStart=pmaint regen --threads 9 %i

[Install]
WantedBy=multi-user.target
