[Unit]
Description=Run periodic Gentoo metadata cache
Requires=multi-user.target emerge-sync@gentoo.service egencache@qt.service
After=multi-user.target
