[Unit]
Description=Run periodic Gentoo metadata cache

[Timer]
OnCalendar=daily
Persistent=true
Unit=periodic-egencache.target

[Install]
WantedBy=timers.target
