[Unit]
Description=Run periodic Gentoo metadata cache
Requires=multi-user.target egencache@gentoo.service egencache@qt.service
After=multi-user.target
