[Unit]
Description= Box (rclone)
Documentation=man:rclone(1)
AssertPathIsDirectory=/media/box

[Service]
Type=notify
ExecStart=/usr/bin/rclone mount \
        --config=/home/arthur/.config/rclone/rclone.conf \
        --allow-other \
        --vfs-cache-mode=writes \
        box: /media/box/
ExecStop=/usr/bin/fusermount -u /media/box/

