[Unit]
Description = X Server
AllowIsolate = true

Requires=xorg.socket
After=xorg.socket

[Service]
Environment=XKBMODEL=pc104
Environment=XKBLAYOUT=us,il
Environment=XKBOPTIONS=grp:alt_shift_toggle
Type=simple
SuccessExitStatus=0 1
StandardOutput=null
#ExecStart  = /usr/bin/Xorg "${DISPLAY}" -nolisten tcp -noreset "vt${XDG_VTNR}"
ExecStart  = /usr/bin/Xorg :0 -nolisten tcp -noreset "vt1"

[Install]
RequiredBy = xorg.target
